{% extends 'base.html.twig' %}

{% block title %}Product Detail{% endblock %}

{% block body %}
<div class="container">
   <h3 class="text-primary text-center">Product Detail</h3>
   <a class="btn btn-outline-primary" href="{{ path('product_index') }}">BACK TO PRODUCT LIST</a>
   <table class="table table-striped text-center">
      <thead>
         <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Brand</th>
            <th>Description</th>
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>
                  <img src="{{ asset('/image/product/')~product.image }}" width="150" height="150" alt="image">
				</td>

            <td></td>
            <td>{{ product.description }}</td>
            <td>
               <a class="btn btn-primary" href="{{ path('product_edit', {'id': product.id }) }}">EDIT</a>
               <a class="btn btn-warning" href="{{ path('product_delete', {'id': product.id }) }}"
               onclick="return confirm('Are you sure to delete this product ?')">
               DELETE</a>
            </td>
         </tr>    
      </tbody>
   </table>
</div>
{% endblock %}