{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
<div class="container">
   <h3 class="text-primary text-center">Product List</h3>
   <a class="btn btn-outline-primary" href="{{ path('product_add') }}">ADD PRODUCT</a>
   <table class="table table-striped text-center">
      <thead>
         <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
      {% for product in products %}
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>
               <a class="btn btn-info" href="{{ path('product_detail', {'id' : product.id }) }}">DETAIL</a>
               <a class="btn btn-primary" href="{{ path('product_edit', {'id': product.id }) }}">EDIT</a>
               <a class="btn btn-warning" href="{{ path('product_delete', {'id': product.id }) }}"
               onclick="return confirm('Are you sure to delete this product ?')">
               DELETE</a>
            </td>
         </tr>
      {% endfor %}     
      </tbody>
   </table>
</div>
{% endblock %}